<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">Nfl Players</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="buttons mt-5">
      
      
     </div>
     


    </div>
  </div>
</nav>


<div class="container mt-5">

<div class="row">
 
  <h3 class="text-center mb-3">New Practice</h3>
    <div class="col-md-4 mx-auto">
     
        <div class="card shadow-lg">
            <div class="card-body">
              <h5>Card1</h5>
              <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nulla sed deserunt suscipit laborum nemo.
              </div>
            </div>
        </div>
    </div>


    <div class="col-md-4 mx-auto">
      
        <div class="card shadow-lg">
            <div class="card-body">
              <h5>Card 2</h5>
              <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, cumque.</p>
              </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mx-auto">
      <h3 class="text-center mb-3">New Practice</h3>
        <div class="card shadow-lg">
            <div class="card-body">
              <h5>Card 3</h5>
              <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas magni optio deserunt ullam quam natus suscipit atque quaerat quae tenetur.
              </div>
            </div>
        </div>
    </div>
</div>
</div>




